*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
// navication bar
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.1rem;
    border-bottom: 1px solid rgb(80, 79, 79); 
    background-color: black;

}
.navbar{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.4rem;
    .mainname a{
        color: white;
        text-decoration: none;
        font-family: 'Satisfy', cursive;
        font-weight: 500;
    }
}
.home{
    padding-top: 3rem;
    margin-left: 0.6rem;
    // display: flex;
}
.box{
    display: flex;
 } 
.profiles{
    color: red;
    text-align: center;
   margin-right: 1rem;
.profiles-image{   
     img{
     max-width: 120%;
     height: 2.5rem;
     border-radius: 50%;
     border: 2px solid orange;
     }
    }
    .profiles-names{
        color: white;
        font-size: 0.6rem;       
    }
}

// instafeed-primary
.instafeed-primary{
    padding: 0.5rem;
    display: flex;
   justify-content: space-between;
}

.instamodle{
    display: flex;
    //  background-color: rgb(8, 8, 8);
    .instamodle-image{
        img{
            max-width: 120%;
            height: 2.5rem;
            border-radius: 50%;
            border: 2px solid orange;
            }
    }
    .instamodle-namess{
        padding: 0.5rem;
        font-size: 0.8rem;  
    }
    .bx-dots-horizontal-rounded{
        float: right;
       } 
}
.instsecpage{
    .instsecpage-image img{
        max-width: 100%;
        
    }
   
}

.iconsforinstfeed{
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;

    ul{
        display: flex;

    li{
        list-style: none;
        padding-right: 0.5rem;
    }
    }
}


// fottericons
 .fottericons{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(37, 36, 36);
  padding:  0.3rem 1rem;
  .instaicons i:hover{
   color: rgb(80, 79, 79);
  }
 }  